.spot-list {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-bottom: 30px;

  li {
    display: flex;
    flex-direction: column;

    header {
      width: 100%;
      height: 120px;
      background-size: cover;
      border-radius: 4px;
    }

    strong {
      margin-top: 10px;
      font-size: 24px;
      color: #444444;
    }

    span {
      font-size: 15px;
      color: #999999;
    }
  }
}

.btn {
  border: 0;
  border-radius: 2px;
  width: 100%;
  height: 42px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  background: #f05a5b;
  color: #ffffff;
  cursor: pointer;

  transition: background 0.2s;

  &:hover {
    background: #e14f50;
  }
}

.notifications {
  list-style: none;
  margin-bottom: 15px;

  li {
    p {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 10px;
    }

    button {
      margin-right: 10px;
      border: 0;
      background: #ffffff;
      font-weight: bold;
      cursor: pointer;
    }

    .accept {
      color: #84c870;
    }

    .reject {
      color: #e55e5e;
    }
  }
}